<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>张三</string>
		<key>phone</key>
		<string>1808080808</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>李四</string>
		<key>phone</key>
		<string>18080123567</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>张强</string>
		<key>phone</key>
		<string>1808076548</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>王麻子</string>
		<key>phone</key>
		<string>1893586508</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>李刚</string>
		<key>phone</key>
		<string>1833330808</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>刘备</string>
		<key>phone</key>
		<string>1234480808</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>陈近南</string>
		<key>phone</key>
		<string>1867045808</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>曹操</string>
		<key>phone</key>
		<string>1808123408</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>韦小宝</string>
		<key>phone</key>
		<string>1285080808</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>赵云</string>
		<key>phone</key>
		<string>1802531808</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>张君宝</string>
		<key>phone</key>
		<string>1123085408</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>诸葛亮</string>
		<key>phone</key>
		<string>1816480808</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>郭靖</string>
		<key>phone</key>
		<string>1162489808</string>
	</dict>
	<dict>
		<key>email</key>
		<string>qwerty@gmail.com</string>
		<key>name</key>
		<string>王建</string>
		<key>phone</key>
		<string>1808123458</string>
	</dict>
</array>
</plist>
